<ng-form name="changepassword">
    <h3>Change Password</h3>
    <hr />
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <span class="label-dark">Old Password</span>
            </div>
            <div class="col-md-3">
                <input type="password" ng-model="password.oldPassword" class="form-control input-sm" name="oldPassword" required />
                <span class="field-validation-error" style="color:red" ng-show="changepassword.oldPassword.$dirty && changepassword.oldPassword.$invalid">
                    <span ng-show="changepassword.oldPassword.$error.required">Old Password is required.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <span class="label-dark">New Password</span>
            </div>
            <div class="col-md-3">
                <input type="password" ng-model="password.newPassword" class="form-control input-sm" name="newPassword" required />
                <span class="field-validation-error" style="color:red" ng-show="changepassword.newPassword.$dirty && changepassword.newPassword.$invalid">
                    <span ng-show="changepassword.newPassword.$error.required">New Password is required.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <span class="label-dark">Confirm New Password</span>
            </div>
            <div class="col-md-3">
                <input type="password" ng-model="password.confNewPassword" class="form-control input-sm" name="confNewPassword" valid-password-c required />
                <span class="field-validation-error" style="color:red" ng-show="changepassword.confNewPassword.$dirty && changepassword.confNewPassword.$invalid">
                    <span ng-show="changepassword.confNewPassword.$error.required">Confirm Password is required.</span>
                    <span ng-show="!changepassword.confNewPassword.$error.required && changepassword.confNewPassword.$error.noMatch && changepassword.newPassword.$dirty">Passwords do not match.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" ng-disabled="changepassword.$invalid" ng-click="forgetPassword()" value="Submit"></input>
            <input id="btnCancel" type="button" style="margin-left:10px" value="Cancel" class="btn btn-default" />
        </div>
    </div>
</ng-form>