@model Core.Domain.ScreenPermission
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
@{
    ViewBag.Title = "Screen Permissions";
}
@section CSSLinks
{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/BootStrapGrid/src/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Scripts/BootStrapDailog/bootstrap-dialog.min.css" rel="stylesheet" />
}
@section JSRefernces
{
    <script src="~/Scripts/JqGrid/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/BootStrapGrid/src/bootstrap-table.js"></script>
    <script src="~/Scripts/BootStrapDailog/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/BootStrapGrid/src/extensions/filter/bootstrap-table-filter.js"></script>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        var showpopup = "0";
        var callbacks = $.Callbacks();
        $(document).ready(function () {

            $('#liPermission').removeClass("treeview");
            $('#liPermission').addClass("treeview active");

            $("#HiddenAllpermission").val("");
            $("#HiddenExitspermission").val("");
            $("#HiddenDeletepermission").val("");
            $("#HiddenDeletepermission").val("");
            $("#RoleList").change(function () {
                //alert($("#RoleList :selected").val());
                //  BindGrid();
                if (($("#ModuleList :selected").text() == "Select Module")) {
                    $("#ModuleList").focus();
                    return;
                }
                if (($("#RoleList :selected").text() == "Select Role")) {
                    $("#RoleList").focus();
                    return;
                }

                CheckBoxFill();
            });
            $("#ModuleList").change(function () {
                //  alert($("#ModuleList :selected").val());
                //  BindGrid();

                if (($("#ModuleList :selected").text() == "Select Module")) {
                    $("#ModuleList").focus();
                    return;
                }
                if (($("#RoleList :selected").text() == "Select Role")) {
                    $("#RoleList").focus();
                    return;
                }
                CheckBoxFill();
            });

            BindGrid();


            $("#ButtonAdd").click(function () {

                if (($("#RoleList :selected").text() == "Select Role")) {
                    $("#RoleList").focus();

                    return;
                }
                if (($("#ModuleList :selected").text() == "Select Module")) {
                    $("#ModuleList").focus();
                    return;
                }
                if ($("#HiddenDeletepermission").val() != "") {
                    DeletePermission();

                }

                //if (($("#HiddenAllpermission").val() == "") && ($("#HiddenExitspermission").val()!=""))
                //{
                //    ShowMessage(BootstrapDialog.TYPE_INFO, 'All Permission already exists.');
                //    return false;

                //}

                if (($("#HiddenDeletepermission").val() == "") && ($("#HiddenAllpermission").val() == "") && ($("#HiddenExitspermission").val() == "")) {
                    ShowMessage(BootstrapDialog.TYPE_INFO, 'Please Select at least one Permission.');
                    return false;

                }
                if ($("#HiddenDeletepermission").val() == "" && $("#HiddenAllpermission").val() != "") {
                    AddScreenPermission();
                }
                //BindGrid();

            });
            //$("#ButtonDelete").click(function () {
            //    DeletePermission();
            //});
        });

        function BindGrid() {

            var path = "/ScreenPermissions/ScreenPermissions/GetAllScreenPermissionl";
            $.getJSON(path, null, function (data) {
                if (data != null) {
                    // var d = "SrNo=" + data.RollNo + "</br>Name=" + data.Name + "</br>Gender=" + data.Gender + "</br>Course=" + data.Course;
                    //  $("#showdata").html(d);table table-striped
                    var j = "";
                    $('#ActionGrid').html("");
                    var table = '<table id="Actiongrid" class="gridtable">';
                    table += '<tr>';
                    //table += '<th data-field="ActionId" class="visible">Action ID</th>';
                    table += '<th data-field="ActionId">Screen Name</th>';
                    table += '<th data-field="Actions">Actions</th>';
                    table += '</tr>';
                    //   <th data-field="ActionId">Action ID</th>
                    $.each(data, function (i, item) {
                        // alert(item.ScreenName);
                        if (i == 0) {
                            table += '<tr>';
                            j = item.ScreenName;
                            table += '<td class="visible"><input id="' + "hfv" + item.ScreenId + '" type="hidden" value="' + item.ScreenId + '" />' + item.ScreenName;
                            table += '</td>';
                            if (item.ActionId == 0) {
                                if (item.ActionName == "Custom") {

                                }
                                else {
                                    table += '<td class="f2"><input id="' + item.ScreenId + "," + item.ActionId + "," + item.ActionName + '" class="' + item.ActionName + "" + item.ScreenId + "" + item.ActionId + '" type="checkbox" onclick="javascript:Selectcheckbox(this);" disabled="disabled" />' + item.ActionName
                                }
                            }
                            else {
                                table += '<td class="f2"><input id="' + item.ScreenId + "," + item.ActionId + "," + item.ActionName + '" class="' + item.ActionName + "" + item.ScreenId + "" + item.ActionId + '" type="checkbox" onclick="javascript:Selectcheckbox(this);"/>' + item.ActionName
                            }
                            table += '</td>';
                        }
                        else if (j.toString().toLocaleLowerCase() == item.ScreenName.toString().toLocaleLowerCase()) {
                            // alert(j);
                            if (item.ActionId == 0) {
                                if (item.ActionName == "Custom") {

                                }
                                else {
                                    table += '<td class="f2"><input id="' + item.ScreenId + "," + item.ActionId + "," + item.ActionName + '" class="' + item.ActionName + "" + item.ScreenId + "" + item.ActionId + '" type="checkbox" onclick="javascript:Selectcheckbox(this);" disabled="disabled" />' + item.ActionName
                                }
                            }
                            else {
                                table += '<td class="f2"><input id="' + item.ScreenId + "," + item.ActionId + "," + item.ActionName + '" class="' + item.ActionName + "" + item.ScreenId + "" + item.ActionId + '" type="checkbox" onclick="javascript:Selectcheckbox(this);"/>' + item.ActionName
                            }
                            //  table += '<td class="f2"><input id="' + item.ScreenId + "," + item.ActionId + "," + item.ActionName + '" class="' + item.ActionName + "" + item.ScreenId + "" + item.ActionId + '" type="checkbox" onclick="javascript:Selectcheckbox(this);" />' + item.ActionName
                            table += '</td>';
                        }
                            //else if (j.toString().toLocaleLowerCase() != item.ScreenName.toString().toLocaleLowerCase()) {
                            //    alert(j);
                            //   // table += '<td class="f2"><input id="' + item.ActionId + '" type="checkbox" />' + item.ActionName
                            //    // table += '</td>';

                            //    table += '</tr>';
                            //}
                        else {
                            table += '</tr>';
                            j = item.ScreenName;
                            table += '<tr>';
                            table += '<td class="visible"><input id="' + "hfv" + item.ScreenId + '" type="hidden" value="' + item.ScreenId + '" />' + item.ScreenName;
                            table += '</td>';
                            if (item.ActionId == 0) {
                                if (item.ActionName == "Custom") {

                                }
                                else {
                                    table += '<td class="f2"><input id="' + item.ScreenId + "," + item.ActionId + "," + item.ActionName + '" class="' + item.ActionName + "" + item.ScreenId + "" + item.ActionId + '" type="checkbox" onclick="javascript:Selectcheckbox(this);" disabled="disabled" />' + item.ActionName
                                }
                            }
                            else {
                                table += '<td class="f2"><input id="' + item.ScreenId + "," + item.ActionId + "," + item.ActionName + '" class="' + item.ActionName + "" + item.ScreenId + "" + item.ActionId + '" type="checkbox" onclick="javascript:Selectcheckbox(this);"/>' + item.ActionName
                            }
                            // table += '<td class="f2"><input id="' + item.ScreenId + "," + item.ActionId + "," + item.ActionName + '" class="' + item.ActionName + "" + item.ScreenId + "" + item.ActionId + '" type="checkbox" onclick="javascript:Selectcheckbox(this);" />' + item.ActionName
                            table += '</td>';

                        }


                    })
                    table += '</tr>';
                    //table += '<tr>';
                    //table += '<td><input id="ButtonAdd" type="button" value="button" />';
                    //table += '</td>';
                    //table += '</tr>';
                    table += '</table>';
                    $('#ActionGrid').append(table);

                    //  alert(data.length.tostring());



                }
                else {
                    document.write("Not Found");
                }
            });



        }
        //   setTimeout(BindGrid, 1000);
        function Selectcheckbox(Ctr) {
            showpopup = "0";
            //alert(Ctr);hfv3,1,View Ctr.is(':checked')
            var str = Ctr.id.toString();
            if ($(Ctr).is(':checked')) {
                // alert(hf);
                if ($("#HiddenAllpermission").val() == "") {
                    $("#HiddenAllpermission").val(str + "/");
                }
                else {
                    str = $("#HiddenAllpermission").val() + "" + str + "/"
                    $("#HiddenAllpermission").val(str);
                }
                // alert($("#HiddenAllpermission").val());
            }
            else {
                $("#HiddenAllpermission").val($("#HiddenAllpermission").val().replace(str + "/", ""));
                //DeleteScreenPermission(str);
                if ($("#HiddenDeletepermission").val() == "") {
                    $("#HiddenDeletepermission").val(str + "/");
                }
                else {
                    str = $("#HiddenDeletepermission").val() + "" + str + "/"
                    $("#HiddenDeletepermission").val(str);
                }
                //  $('#ButtonDelete').addClass('delShow');
                // alert( $("#HiddenDeletepermission").val());
            }

        }

        function AddScreenPermission() {
            var RoleId = $("#RoleList :selected").val();
            var ModuleID = $("#ModuleList :selected").val();
            var str = $("#HiddenAllpermission").val();
            //alert(str);
            $('#loadingmessage').show();
            $.ajax({
                type: "POST",
                url: "/ScreenPermissions/ScreenPermissions/AddScreenPermission",
                data: '{str: "' + str + '",RoleId: ' + RoleId + ',ModuleID: ' + ModuleID + ' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#loadingmessage').hide();
                    if (showpopup.toString() == "0") {
                        ShowMessage(BootstrapDialog.TYPE_SUCCESS, 'Your Permission is successfully Added.');

                        showpopup = "1";
                    }


                    $("#HiddenAllpermission").val("");
                },
                failure: function (response) {
                    alert(response.d);
                }
            });

        }

        function DeleteScreenPermission(str) {
            // alert(str);
            $('#loadingmessage').show();
            var RoleId = $("#RoleList :selected").val();
            var ModuleID = $("#ModuleList :selected").val();
            $.ajax({
                type: "POST",
                url: "/ScreenPermissions/ScreenPermissions/DeleteScreenPermission",
                data: '{str: "' + str + '",RoleId: ' + RoleId + ',ModuleID: ' + ModuleID + ' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //  dialogItself.close();
                    $("#HiddenDeletepermission").val("");

                    if (showpopup == "0") {
                        ShowMessage(BootstrapDialog.TYPE_SUCCESS, 'Your Permission is successfully Added.');
                        showpopup = "1";
                    }

                    // BindGrid();
                    $('#loadingmessage').hide();
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }

        function ShowMessage(type, message) {
            $messageData = $("<span>Information</span>");
            BootstrapDialog.show({
                title: $messageData,
                type: type,
                message: message,
                closable: true,
                closeByBackdrop: false,
                closeByKeyboard: false,
                buttons: [{
                    label: 'Ok',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            });
        }

        function CheckBoxFill() {
            // BindGrid();
            $('input[type=checkbox]').attr('checked', false);
            var exitsIDs = "";
            var RoleId = $("#RoleList :selected").val();
            var ModuleID = $("#ModuleList :selected").val();
            $.ajax({
                type: "Post",
                url: "/ScreenPermissions/ScreenPermissions/GetPermissionList",
                data: '{RoleId: ' + parseInt(RoleId) + ',ModuleID: ' + parseInt(ModuleID) + ' }',
                //   data: null,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            var ctr = item.ActionName + "" + item.ScreenId + "" + item.ActionId;

                            var id = "." + ctr.toString().trim();
                            // $("#HiddenExitspermission")
                            if ($("#HiddenExitspermission").val() == "") {
                                $("#HiddenExitspermission").val(exitsIDs + "/");
                            }
                            else {
                                str = $("#HiddenExitspermission").val() + "" + exitsIDs + "/"
                                $("#HiddenExitspermission").val(str);
                            }

                            $(id).prop("checked", true)

                        });
                    }
                    else {
                        BindGrid();
                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }


        function DeletePermission() {
            //BootstrapDialog.show({
            //    message: 'Are you sure? You want to delete this record.',
            //    buttons: [{
            //        label: 'Ok',
            //        cssClass: 'btn-primary',
            //        action: function (dialogItself) {
            //            $('#loadingmessage').show();
            //            DeleteScreenPermission($("#HiddenDeletepermission").val())
            //            dialogItself.close();
            //            $('#loadingmessage').hide();
            //        //    $('#ButtonDelete').removeClass('delShow');
            //            ShowMessage(BootstrapDialog.TYPE_SUCCESS, 'Your Record is successfully Deleted.');
            //        }
            //    }, {
            //        label: 'Close',
            //        cssClass: 'btn-danger',
            //        action: function (dialogItself) {
            //            dialogItself.close();
            //        }
            //    }]
            //});
            //confirm("Are you sure? You want to delete this record.");
            //            $('#loadingmessage').show();
            //            DeleteScreenPermission($("#HiddenDeletepermission").val())

            //            $('#loadingmessage').hide();
            //            $('#ButtonDelete').removeClass('delShow');
            DeleteScreenPermission($("#HiddenDeletepermission").val());
            $("#HiddenDeletepermission").val("");
        }



    </script>
</head>
<body>
    <input id="Hidden1" type="hidden" value="" />
    <input id="HiddenAllpermission" type="hidden" value="" />
    <input id="HiddenExitspermission" type="hidden" value="" />
    <input id="HiddenDeletepermission" type="hidden" value="" />
    <form id="form">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-sm-2">



                    @Html.DropDownListFor(model => model.RoleList, new SelectList(Model.RoleList, "Value", "Text"), "Select Role", new { @class = "col-sm-11 customDropDown" })
                </div>
                <div class="col-sm-2">

                    @Html.DropDownListFor(model => model.ModuleList, new SelectList(Model.ModuleList, "Value", "Text"), "Select Module", new { @class = "col-sm-11 customDropDown" })
                    @*<input id="RoleId" name="RoleId" type="hidden" />*@
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-4">
                    <input type="text" name="RoleId" readonly id="RoleId" style="display:none;" />

                    @*<input id="RoleId" name="RoleId" type="hidden" />*@
                </div>
            </div>
        </div>
        <div id='loadingmessage' class="loader fade" style="display:none;">
            <img src='~/Areas/ScreenPermissions/Images/loading2.gif' style="height: 150px;width: 200px;" />
        </div>
        <div class="form-group">
            <div id="ActionGrid">

            </div>
        </div>
    </form>
    <div>
        <input id="ButtonAdd" type="button" class="btn btnAdd btn-success" value="Add Permission" />&nbsp;&nbsp;&nbsp;
        <input id="ButtonDelete" type="button" class="btn btnAdd btn-danger delHide" value="Delete Permission" />

    </div>



</body>
</html>
<style>
    .loader {
        position: absolute;
        top: 15%;
        left: 35%;
        width: 400px;
        height: 200px;
        padding: 30px 15px 0px;
        border: 3px solid #ababab;
        box-shadow: 1px 1px 10px #ababab;
        border-radius: 20px;
        background-color: white;
        z-index: 1002;
        text-align: center;
        overflow: auto;
    }

    .fade {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #ababab;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .70;
        filter: alpha(opacity=80);
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .delHide {
        display: none;
    }

    .delShow {
        display: inline-block;
    }
</style>
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        width: 100%;
        height: 100%;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: none;
            /*border-color: #666666;*/
            /*background-color: #dedede;*/
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: none;
            border-color: #666666;
            /*background-color: #ffffff;*/
            font-size: 13px;
        }
</style>
