@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @System.Web.Optimization.Styles.Render("~/bundles/bootstrapCss")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrapgrid")
   
</head>
<body>
    <div>
        @Html.Hidden("RedirectTo", Url.Action("index", "Home", new { area = "" }));
    </div>
</body>
</html>
<script src="~/Scripts/js/noPermissions.js"></script>
