

<ng-form name="UserRegistration">
    <div class="alert alert-error alert-dismissible fade in" role="alert" ng-show="ErrorMessage">
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>-->
        <strong>{{ErrorMessage}}!</strong>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <span class="label-dark">Email</span>
            </div>
            <div class="col-md-3">
                <input ng-model="Email" type="email" name="Email" class="form-control input-sm" required />

                <span class="field-validation-error" style="color:red" ng-show="UserRegistration.Email.$dirty && UserRegistration.Email.$invalid">
                    <span ng-show="UserRegistration.Email.$error.required">Email is required.</span>
                    <span ng-show="UserRegistration.Email.$error.email">Invalid email address.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <span class="label-dark">Password</span>
            </div>
            <div class="col-md-3">
                <input ng-model="Password" class="form-control input-sm" name="Password" type="password" id="Password" required />
                <ul id="strength" check-strength="Password"></ul>
                <span class="field-validation-error" style="color:red" ng-show="UserRegistration.Password.$dirty && UserRegistration.Password.$invalid">
                    
                    <span ng-show="UserRegistration.Password.$error.required">Password is required.</span>
                </span>
                <span ng-show="PasswordValidationError" style="color:red;">
                    <br />
                    Your Password is incorrect.
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <span class="label-dark">Confirm Password</span>
            </div>
            <div class="col-md-3">
                <input ng-model="ConfirmPassword" class="form-control input-sm" name="ConfirmPassword" type="password" required />

                <span class="field-validation-error" style="color:red" ng-show="UserRegistration.ConfirmPassword.$dirty && UserRegistration.ConfirmPassword.$invalid">
                    <span ng-show="UserRegistration.ConfirmPassword.$error.required">Confirm Password is required.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" ng-disabled="UserRegistration.$invalid"
                   class="btn btn-primary" value="Register" ng-click="RegisterUser()" />
            <input id="btnCancel" type="button" style="margin-left:10px" value="Cancel" class="btn btn-default" />
        </div>
    </div>

</ng-form>

