
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    @System.Web.Optimization.Styles.Render("~/bundles/bootstrapCss")

    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrapgrid")
    <script>

        $(document).ready(function () {
            BootstrapDialog.show({
                message: 'Your Session has been Expired.',
                buttons: [{
                    label: 'Ok',
                    cssClass: 'btn-primary',
                    action: function (dialogItself) {
                        var url = $("#RedirectTo").val();
                        location.href = url;
                    }
                }]
            });



        });
    </script>
</head>
<body>
    <div> 
        @Html.Hidden("RedirectTo", Url.Action("LogOut", "Account", new { area = "" }));
    </div>
</body>
</html>
