<ng-form name="forgetPassword">
    <!--<div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <span class="label-dark">Old Password</span>
            </div>
            <div class="col-md-3">
                <input type="password" ng-model="password.oldPassword" class="form-control input-sm" name="oldPassword" required />
                <span class="field-validation-error" style="color:red" ng-show="forgetPassword.oldPassword.$dirty && forgetPassword.oldPassword.$invalid">
                    <span ng-show="forgetPassword.oldPassword.$error.required">Old Password is required.</span>
                </span>
            </div>
        </div>
    </div>-->
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <span class="label-dark">New Password</span>
            </div>
            <div class="col-md-3">
                <input type="password" ng-model="password.newPassword" class="form-control input-sm" name="newPassword" required />
                <span class="field-validation-error" style="color:red" ng-show="forgetPassword.newPassword.$dirty && forgetPassword.newPassword.$invalid">
                    <span ng-show="forgetPassword.newPassword.$error.required">New Password is required.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <span class="label-dark">Confirm New Password</span>
            </div>
            <div class="col-md-3">
                <input type="password" ng-model="password.confNewPassword" class="form-control input-sm" name="confNewPassword" valid-password-c required />
                <span class="field-validation-error" style="color:red" ng-show="forgetPassword.confNewPassword.$dirty && forgetPassword.confNewPassword.$invalid">
                    <span ng-show="forgetPassword.confNewPassword.$error.required">Confirm Password is required.</span>
                    <span ng-show="!forgetPassword.confNewPassword.$error.required && forgetPassword.confNewPassword.$error.noMatch && forgetPassword.newPassword.$dirty">Passwords do not match.</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" ng-disabled="forgetPassword.$invalid" ng-click="forgetPassword()" value="Submit"></input>
            <input id="btnCancel" type="button" style="margin-left:10px" value="Cancel" class="btn btn-default" />
        </div>
    </div>
</ng-form>