@{
    @*Layout = "~/Areas/screens/Views/Shared/_Layout.cshtml";*@
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @section CSSLinks
{
        @System.Web.Optimization.Styles.Render("~/bundles/bootstrapCss")
    }
    @section JSRefernces
{
        @System.Web.Optimization.Scripts.Render("~/bundles/bootstrapgrid")
    }
    <meta name="viewport" content="width=device-width" />
    <title>Accessdenied</title>
    @System.Web.Optimization.Scripts.Render("~/bundles/kendojs")
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            alert("Sorry!Access Denied");
            //  ShowMessage(BootstrapDialog.confirm, 'Sorry!Access Denied.');
            window.location = "/Users/Home";
        });
    </script>
    @System.Web.Optimization.Scripts.Render("~/scripts/js/permissions.js")
    <div>
    </div>
</body>
</html>
